# --- контейнер Postgres из docker-compose.yml ---
POSTGRES_USER=banking_customer
POSTGRES_PASSWORD=123
POSTGRES_DB=banking_customer
POSTGRES_PORT=5452

# --- подключение сервиса к этой же базе (перекрывает configs/config.yml) ---
DATABASE_HOST=localhost
DATABASE_PORT=5452
DATABASE_USER=banking_customer
DATABASE_PASSWORD=123
DATABASE_DBNAME=banking_customer
DATABASE_SSL_MODE=disable

# --- порт сервиса ---
# Если gRPC порт меняется, то нужно править upstreams.customer в конфиге гейтвея.
SERVER_PORT=50052
